<style type="text/css" >body {font-family:Helvetica,Arial,Sans-Serif;color: #4d4d4d; font-size:16px;}</style>
<img src="${headerImage}" alt="Express Delivery"/>
<h3>Password Reminder</h3>

<p>
   Hi $name,<br/><br/>
   The hint you enetered for your password is <strong>'$passwordHint'</strong>. If you are still 
   having difficulties loging in please email $adminEmail and request to have your password reset.<br/><br/>
   Regards,<br/><br/>
   The Express Team
</p>